/* Custom page CSS
-------------------------------------------------- */


/* Not required for template or sticky footer method. */

main > .container {
    padding: 60px 15px 0;
}


/* bootstrap css에 빠져있어서 추가함. */
.sr-only {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
}